<br>
<div class="container" *ngIf="event">

  <div class="row">
    <div class="col">
      <h1><a routerLink="/user/events" routerLinkActive="active">Events</a></h1>
      <br>

      <h4>{{event.organizer}}</h4>
      <h1 class="h2">{{event.title}}</h1>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col">
      <p>{{event.time | date : 'medium'}}</p>
      <p><i>{{event.contact}}</i></p>
      <p>{{event.location}}</p>
      <div class="embed-responsive embed-responsive-16by9" *ngIf="event.location">
        <iframe class="embed-responsive-item" allowfullscreen [src]="pageControls.mapURL"></iframe>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-success btn-block" *ngIf="event.isFavorite === false" (click)="onFavorite()">Favorite</button>
      <button type="button" class="btn btn-outline-danger btn-block" *ngIf="event.isFavorite === true" (click)="onUnfavorite()">Unfavorite</button>
      <br>
      <br>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Comments</h4>
          <p class="card-text">
            <input class="form-control" type="text" placeholder="New comment" (keyup.enter)="onCommentEnter()"
                   [(ngModel)]="newComment.content">
          </p>
        </div>
      </div>
      <div class="card" *ngFor="let comment of event.comments">
        <div class="card-body">
          <h4 class="card-title">{{comment.username}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{comment.createDate | date : 'medium'}}</h6>
          <p class="card-text">{{comment.content}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
