<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Academic Honesty</h1>
      <p>
        We have read <a href="http://www.cuhk.edu.hk/policy/academichonesty">http://www.cuhk.edu.hk/policy/academichonesty</a>
        carefully.
      </p>

      <h1>Names</h1>
      <p>
        CHOI, Man Kin 1155077469 API<br>
        TSANG, Chi Long 1155079044 Admin Frontend<br>
        NJO, Ling Fung 1155078701 User Frontend
      </p>

      <h1>How-to</h1>
      <p>
        You can access this project via <a href="https://event272.azurewebsites.net/about">https://event272.azurewebsites.net/about</a>.
        First running takes more time than normal because the azure functions is initializing of cold start.
        Everything is implemented. Extra: Google Maps, FaaS Azure Functions, SaaS Azure App Service, Ranked querying
      </p>

      <h1>Technologies</h1>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>SCSS</li>
        <li>Bootstrap</li>
        <li>Node.js</li>
        <li>Azure Functions</li>
        <li>Azure SQL Database</li>
      </ul>

      <h1>Design</h1>
      <div>
        <!-- Generated -->

        <div>
          <span style="font-family: Courier New; font-size: 10pt;">
          <span style="color: blue; ">CREATE</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">event</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">(</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">id</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">UNIQUEIDENTIFIER</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_30c2f3bbaf6d34a55f8ae6e4614</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: #FF0080; font-weight: bold; ">Newsequentialid</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">title</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">organizer</span>&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">contact</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">createdate</span>&nbsp;<span style="color: black; font-style: italic; ">DATETIME2</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_8e4e8463fe49acf3c4f9ba467a9</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">updatedate</span>&nbsp;<span style="color: black; font-style: italic; ">DATETIME2</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_d08ad6aa73f8163b630a78b7d64</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">time</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">DATETIME</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">location</span>&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">pk_30c2f3bbaf6d34a55f8ae6e4614</span>&nbsp;<span style="color: blue; ">PRIMARY</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">id</span><span style="color: maroon; ">)</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">)</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">CREATE</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">comment</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">(</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">id</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">INT</span>&nbsp;<span style="color: blue; ">IDENTITY</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">content</span>&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">username</span>&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">eventid</span>&nbsp;&nbsp;<span style="color: black; font-style: italic; ">UNIQUEIDENTIFIER</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">pk_0b0e4bbc8415ec426f87f3a88e2</span>&nbsp;<span style="color: blue; ">PRIMARY</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">id</span><span style="color: maroon; ">)</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">fk_e4f8f71ea00e6eb8fc2fdd4844f</span>&nbsp;<span style="color: blue; ">FOREIGN</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">eventid</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">REFERENCES</span>&nbsp;<span style="color: maroon; ">event</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">)</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">ALTER</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">event</span>
          <br/>&nbsp;&nbsp;<span style="color: blue; ">ADD</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_30c2f3bbaf6d34a55f8ae6e4614</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: #FF0080; font-weight: bold; ">Newsequentialid</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">FOR</span>&nbsp;<span style="color: maroon; ">id</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">ALTER</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">event</span>
          <br/>&nbsp;&nbsp;<span style="color: blue; ">ADD</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_8e4e8463fe49acf3c4f9ba467a9</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">FOR</span>&nbsp;<span style="color: maroon; ">createdate</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">ALTER</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">event</span>
          <br/>&nbsp;&nbsp;<span style="color: blue; ">ADD</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_d08ad6aa73f8163b630a78b7d64</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">FOR</span>&nbsp;<span style="color: maroon; ">updatedate</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">CREATE</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">[user]</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">(</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">id</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">UNIQUEIDENTIFIER</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_cace4a159ff9f2512dd42373760</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: #FF0080; font-weight: bold; ">Newsequentialid</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">username</span>&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">password</span>&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NVARCHAR</span><span style="color: maroon; ">(</span><span style="color: black; ">255</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">roles</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black; font-style: italic; ">NTEXT</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">createdate</span>&nbsp;<span style="color: black; font-style: italic; ">DATETIME2</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_456a6c03f0ac80b3a4ae72ffed8</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">updatedate</span>&nbsp;<span style="color: black; font-style: italic; ">DATETIME2</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_b802fcb424617b0cef57d37901f</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">pk_cace4a159ff9f2512dd42373760</span>&nbsp;<span style="color: blue; ">PRIMARY</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">id</span><span style="color: maroon; ">)</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">)</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">ALTER</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">[user]</span>
          <br/>&nbsp;&nbsp;<span style="color: blue; ">ADD</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_456a6c03f0ac80b3a4ae72ffed8</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">FOR</span>&nbsp;<span style="color: maroon; ">createdate</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">ALTER</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">[user]</span>
          <br/>&nbsp;&nbsp;<span style="color: blue; ">ADD</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_b802fcb424617b0cef57d37901f</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: fuchsia; font-style: italic; ">Getdate</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">FOR</span>&nbsp;<span style="color: maroon; ">updatedate</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">ALTER</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">[user]</span>
          <br/>&nbsp;&nbsp;<span style="color: blue; ">ADD</span>&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">df_cace4a159ff9f2512dd42373760</span>&nbsp;<span style="color: blue; ">DEFAULT</span>&nbsp;<span style="color: #FF0080; font-weight: bold; ">Newsequentialid</span><span style="color: maroon; ">(</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">FOR</span>&nbsp;<span style="color: maroon; ">id</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>
          <br/>
          <br/><span style="color: blue; ">CREATE</span>&nbsp;<span style="color: blue; ">TABLE</span>&nbsp;<span style="color: maroon; ">user_favorite_events_event</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">(</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">userid</span>&nbsp;&nbsp;<span style="color: black; font-style: italic; ">UNIQUEIDENTIFIER</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: maroon; ">eventid</span>&nbsp;<span style="color: black; font-style: italic; ">UNIQUEIDENTIFIER</span>&nbsp;<span style="color: blue; ">NOT</span>&nbsp;<span style="color: blue; ">NULL</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">pk_775adf4e5fdbb6e5ddfdbab5549</span>&nbsp;<span style="color: blue; ">PRIMARY</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">userid</span><span style="color: silver; ">,</span>&nbsp;<span style="color: maroon; ">eventid</span><span style="color: maroon; ">)</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">fk_13ecfb8c61579bf13cfc48af4bb</span>&nbsp;<span style="color: blue; ">FOREIGN</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">userid</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">REFERENCES</span>&nbsp;<span style="color: maroon; ">[user]</span>&nbsp;<span style="color: blue; ">ON</span>&nbsp;<span style="color: blue; ">DELETE</span>&nbsp;<span style="color: blue; ">CASCADE</span><span style="color: silver; ">,</span>
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue; ">CONSTRAINT</span>&nbsp;<span style="color: maroon; ">fk_4166f5feba1e5635afa652ada71</span>&nbsp;<span style="color: blue; ">FOREIGN</span>&nbsp;<span style="color: blue; ">KEY</span>&nbsp;<span style="color: maroon; ">(</span><span style="color: maroon; ">eventid</span><span style="color: maroon; ">)</span>&nbsp;<span style="color: blue; ">REFERENCES</span>&nbsp;<span style="color: maroon; ">event</span>&nbsp;<span style="color: blue; ">ON</span>&nbsp;<span style="color: blue; ">DELETE</span>&nbsp;<span style="color: blue; ">CASCADE</span>
          <br/>&nbsp;&nbsp;<span style="color: maroon; ">)</span>
          <br/>
          <br/><span style="color: maroon; ">go</span>&nbsp;
          </span>
        </div>


        <!-- Generated -->
      </div>

    </div>
  </div>
</div>
