<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <a routerLink="/admin" routerLinkActive="active"><span class="h1">Admin</span></a>&nbsp;
      <span class="h1">Users</span>

      <div class="text-right pb-3">
        <button type="button" class="btn btn-primary" (click)="openModal(newUserModal)">New User</button>
      </div>

      <ngx-datatable class="material" [columnMode]="'flex'" [rows]="users" [headerHeight]="50" [rowHeight]="'auto'"
                     (activate)="onActivate($event)">

        <ngx-datatable-column name="id" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="username" [flexGrow]="1">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="password" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

      <ng-template #newUserModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New User</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" autocomplete="off"
                   [(ngModel)]="newUser.username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" autocomplete="off"
                   [(ngModel)]="newUser.password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('NewUserSave')">Save</button>
        </div>
      </ng-template>

      <ng-template #userModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{user.id}} - {{user.username}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" autocomplete="off"
                   [(ngModel)]="user.password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('UserDelete')">Delete</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('UserSave')">Save</button>
        </div>
      </ng-template>

    </div>
  </div>
</div>
